// TagManagerExtended branding badge
.collection-item img[src*="TagManagerExtended"] {

  & + .title {
    position: relative;

    &:after {
      content: 'TagManagerExtended';
      display: inline-block;
      vertical-align: text-bottom;
      margin-left: .5rem;
      font-size: .5rem;
      font-weight: 500;
      color: var(--theme-color-focus-ring-alternative, #00b4bE);
      border: 1px solid var(--theme-color-focus-ring-alternative, #00b4bE);
      background-color:  transparent;
      padding: 2px 6px;
      border-radius: 1rem;
      line-height: normal;
    }

    // & + p {
    //   &:after {
    //     content: "Author: Openmost";
    //     display: block;
    //     font-weight: 500;
    //   }
    // }
  }
}
