// Custom HTML editor styles
#customHtml {
  height: auto !important;
  min-height: 250px;
  background-color: #23272e;
  color: #fff;
  font-family: monospace;
  padding: 1rem;
  border-radius: .5rem;
  font-size: 0.875rem;
  border-color: #23272e;
  overflow-y: auto;

  &:focus {
    border-color: #23272e;
  }

  & + .icon-code {
    margin-top: 0 !important;
    padding: 8px !important;
    margin-left: 6px !important;
  }
}
