.tagmanager {

  .entityTable {

    th.tme-checkbox-cell,
    td.tme-checkbox-cell {
      padding-left: 12px !important;
    }

    th.action {
      text-align: right !important;
    }


    td {
      padding: .25rem !important;
      vertical-align: middle !important;

      &.triggers {
        padding-top: .25rem !important;
        padding-bottom: .25rem !important;
      }

      &.action {
        text-align: right !important;

        .table-action {
          display: inline-block;
          padding: .6rem !important;
        }
      }
    }
  }
}