// TagManagerExtended Styles
// =========================

// Import components
@import "components/_bulk_actions.less";
@import "components/_checkbox.less";
@import "components/_editor.less";
@import "components/_forms.less";
@import "components/_branding.less";
@import "components/_table_actions.less";
@import "components/_triggers_chip.less";

// Tag Manager List container
.tagManagerManageList {
  position: relative;

  .tableActionBar {
    padding-top: 20px;
    padding-right: 20px;
    position: absolute;
    top: 0;
    right: 0;
  }
}
